# Ignore temporary library paths generated during testing/building
# temp_libpath*/
# temp_libpath*/shadowVIMP/
# tests/testthat/temp_*/
# temp_libpathd720b101636/

.Rproj.user
*.Rproj
inst/doc
.Rhistory
README.html
/doc/
/Meta/
#/Temp/

# Ignore compiled vignette files
vignettes/*.html
vignettes/*.pdf
vignettes/*.md
vignettes/pertvimp-vignette.Rmd

# OS-specific files
.DS_Store
Thumbs.db

# Other common ignores
*.log
*.tmp
