# Ignore temporary library paths generated during testing/building
.Rproj.user
*.Rproj
inst/doc
.Rhistory
README.html
/doc/
/Meta/
*.Rcheck/

# Ignore compiled vignette files
vignettes/*.html
vignettes/*.pdf
vignettes/*.md
vignettes/figure-html/


# OS-specific files
.DS_Store
Thumbs.db

# Other common ignores
*.log
*.tmp
